.top-expenses {
  flex: 1;
  padding: 1rem 0;
  /* background: #f9f9f9; */
}
.inner-top {
  min-height: 50px;
  max-height: 250px;
  flex: 1;
  gap: 3rem;
  background: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
